<!DOCTYPE html>
<html>
<head>
    <title>VagabondProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
    <body>
        <div id="cf">
            <img class="cOne" src="https://source.unsplash.com/x1Qw-pfM9HA"/>
            <img class="cTwo" src="https://source.unsplash.com/QvPRGI8LfOc"/>
            <img class="cThree" src="https://source.unsplash.com/I4dPa7EVeaM"/>
            <img class="cFour" src="https://source.unsplash.com/MO-30jajbrM"/>
            <img class="cFive" src="https://source.unsplash.com/d7mKQgFYVHY"/>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="atlanta">
                        <h3>
                            <a href="/cities/<%= @cities[0].id %>">
                                <%= @cities[0].name %>
                            </a>
                        </h3>
                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="london">
                        <h3>
                            <a href="/cities/<%= @cities[1].id %>">
                                <%= @cities[1].name %>
                            </a>
                        </h3>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="sanfran">
                        <h3>
                            <a href="/cities/<%= @cities[2].id %>">
                                <%= @cities[2].name %>
                            </a>
                        </h3>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="amsterdam">
                        <h3>
                            <a href="/cities/<%= @cities[3].id %>">
                                <%= @cities[3].name %>
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
