<h1>Welcome to <%= @city.name %></h1>

<img src="<%= @city.photo_url %>" width="500px" alt="">
<hr>
<h2>Reviews:</h2>

<ul>
    <% @posts.each do |post| %>
        <li>
            <h4> <a href="/cities/<%= post.city_id %>/posts/<%= post.id %>"><%= post.title %></a></h4> <p><%= post.created_at %></p>
        </li>
    <% end %>

</ul>
