
<form class="add" action="/cities/<%= @city.id %>/posts/new">
  <input type="submit" class="btn-primary" value="Add New Post">
</form>

<div class="banner">
  <h1>Welcome to <%= @city.name %></h1>
</div>


<img src="<%= @city.photo_url %>" width="500px" alt="">
<hr>
<h2>Reviews:</h2>

<ul>
    <% @posts.each do |post| %>
        <li>
            <h4> <a href="/cities/<%= post.city_id %>/posts/<%= post.id %>"><%= post.title %></a></h4> <p><%= post.created_at %></p>


        </li>
    <% end %>

</ul>
<br>
